PROJECT_ID=your-project-id
REGION=us-central1

SERVICE_NAME=security-api
AR_REPO=apirest
IMAGE_NAME=apirest

SQL_INSTANCE=apirest-pg
SQL_DB=security_api
SQL_USER=postgres
SQL_PASSWORD=change-me

NVD_API_KEY=replace-me

HTTP_TIMEOUT_SECONDS=20
NVD_RESULTS_PER_PAGE=500
NVD_MAX_PAGES=3

# Scheduler
SCHEDULER_JOB=nvd-sync-job
SCHEDULER_CRON=*/30 * * * *
SCHEDULER_TIMEZONE=UTC
SCHEDULER_SA=scheduler-invoker

# Optional LB/WAF
LB_NAME=security-api-lb
NEG_NAME=security-api-neg
BACKEND_NAME=security-api-backend
URL_MAP_NAME=security-api-urlmap
HTTPS_PROXY_NAME=security-api-https-proxy
FORWARDING_RULE_NAME=security-api-https-fr
SSL_CERT_NAME=security-api-cert
ARMOR_POLICY=security-api-waf
DOMAIN_NAME=api.example.com
